.productDetail h2 {
    font-size: large;
    color: gray;
}

.productDetail h3 {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.price {
    margin-top: 10%;
    display: flex;
}

.price p {
    margin-inline: 2em;
    font-size: large;
    font-weight: bold;
}